services:
  mongo:
    image: mongo:7.0
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: web_role_api
    restart: always
    build:
      context: ./backend
    ports:
      - "7878:7878"
    env_file:
    - backend/.env.docker
    depends_on:
      - mongo

  frontend:
    image: web_role_frontend
    restart: always
    build:
      context: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

# data storage
volumes:
  mongo_data:
